<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Portifolio Iot</title>
</head>
<body style="background-color:rgb(0, 0, 0);">
    <header style="background-color:rgb(0, 0, 0);">
        <a href="#"class="logo"style="color:rgb(255, 255, 255);">Rodrigo</a>
        <nav>
            <a href="index.html"class="active" style="color:rgb(255, 255, 255);">Home</a>
            <a href="humanas.html"style="color:rgb(255, 255, 255);">Humanas </a>
            <a href="#"style="color:rgb(255, 255, 255);">Natureza </a>
            <a href="#"style="color:rgb(255, 255, 255);">Linguagens </a>
            <a href="#"style="color:rgb(255, 255, 255);">Matematica </a>
            <a href="#"style="color:rgb(255, 255, 255);">Iot </a>
        </nav>
    </header>